Package: com.tweaksbylogan.falcon
Name: Falcon
Depends: mobilesubstrate, preferenceloader, com.a3tweaks.flipswitch
Version: 1.0
Architecture: iphoneos-arm
Description: A powerful, dynamic lock screen and NC add-on!
Maintainer: Logan O'Connell
Author: Logan O'Connell
Section: Tweaks
